@import '~/assets/scss/mixins/mixins';

$font-inter: 'Inter', sans-serif;
$regular: 400;
$semi-bold: 600;
$bold: 700;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: $font-inter;
}

.text-semibold {
  font-weight: $semi-bold;
}
.text-bold {
  font-weight: $bold;
}
.text-regular {
  font-weight: $regular;
}

:root {
  --color-bg: #ffffff;
  --color-text: #000000;
  --switcher-bg: rgba(12, 28, 58, 0.92);
  --gradient: linear-gradient(
    to left,
    #84fab0 0%,
    #85f9bc 0%,
    #88f8d7 0%,
    #8bf6f5 0%,
    #8eddf5 0%,
    #8fd3f4 0%,
    #f0c3fc 0%,
    #d7befc,
    #bcb1fc,
    #a1aefc,
    #94bdfc,
    #94bdfc
  );
}

.dark {
  --color-bg: #1a281a;
  --color-text: #ffffff;
  --gradient: linear-gradient(to left, #1a1a2e 0%, #16213e 50%, #1a1a40 100%);
  --switcher-bg: rgba(56, 47, 34, 0.9);
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-weight: $regular;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}
